<footer class="footer">
  <div class="container">
    <div class="footer-menu-contact">
      <div class="footer-logo-text">
        <a href="#home">
          <svg class="footer-logo header-logo-icon" width="16" height="16">
            <use href="./img/sprite.svg#vector"></use>
          </svg>
          <svg
            class="footer-logo-text header-text-logo"
            width="148"
            height="12"
          >
            <use href="./img/sprite.svg#GreenHarvest"></use>
          </svg>
          <p class="footer-text">
            Whether you're looking for a healthy snack or a thoughtful gift, our
            fruit baskets are the perfect choice.
          </p>
        </a>
      </div>
      <div class="footer-block">
        <nav class="footer-nav">
          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <a href="#how-it-works">How It Works</a>
            </li>
            <li class="footer-nav-item">
              <a href="#vegetables">Vegetables</a>
            </li>
            <li class="footer-nav-item"><a href="#reviews">Reviews</a></li>
          </ul>
        </nav>
        <div class="footer-contact">
          <a class="footer-phone" href="tel:+380684439426"
            >+380 (68) 443-94-26</a
          >
          <a class="loucation" href=""
            >1678 S. Pioneer Road Salt Lake City UT 84104</a
          >
        </div>
      </div>
    </div>
    <div class="footer-privacy-policy">
      <a class="privacy-policy" href="#">Privacy Policy</a>
      <p class="policy-slash">/</p>
      <a class="footer-cookie" href="#">Cookie settings</a>
      <p class="footer-botoom-link">©Green Harvest 2023</p>
    </div>
  </div>
</footer>
