<section class="vegetables">
  <div class="vegetables-container container">
    <h2 class="vegetables-title">organic vegetables</h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">eggplant</h3>
        <p class="vegetables-price">60 USD / kg</p>
        <img
          class="vegetables-img"
          src="img/vegetables.img/eggplant-1.png"
          alt="eggplant"
          width="280"
          height="240"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">leek</h3>
        <p class="vegetables-price">50 USD / kg</p>
        <img
          class="vegetables-img"
          src="img/vegetables.img/leek-1.png"
          alt="leek"
          width="280"
          height="240"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">mushrooms</h3>
        <p class="vegetables-price">40 USD / kg</p>
        <img
          class="vegetables-img"
          src="img/vegetables.img/mushrooms-1.png"
          alt="mushrooms"
          width="280"
          height="240"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">corn</h3>
        <p class="vegetables-price">60 USD / kg</p>
        <img
          class="vegetables-img"
          src="img/vegetables.img/corn-1.png"
          alt="corn"
          width="280"
          height="240"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">sweet potatoes</h3>
        <p class="vegetables-price">50 USD / kg</p>
        <img
          class="vegetables-img"
          src="img/vegetables.img/sweet potatoes-1.png"
          alt="sweet potatoes"
          width="280"
          height="240"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">carrot</h3>
        <p class="vegetables-price">40 USD / kg</p>
        <img
          class="vegetables-img"
          src="img/vegetables.img/carrot-1.png"
          alt="carrot"
          width="280"
          height="240"
        />
      </li>
    </ul>
  </div>
</section>
