.advertisement-text {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  width: 100%;
}
.discount {
  display: inline-block;
  width: fit-content;
  border: 1px solid #000;
  border-radius: 12px;

  background: #576f35;
  color: #fbfbfb;
}
@media only screen and (min-width: 768px) {
  .advertisement-text {
    font-size: 64px;
    line-height: 1;
  }
  .discount {
    padding-top: 20px;
    border: none;
    /* width: 675px; */
    height: 86px;
  }
}
@media only screen and (min-width: 1280px) {
  .advertisement-text {
    font-size: 76px;
    width: 1054px;
  }
  .discount {
    align-items: center;
    padding-left: 16px;
    padding-top: 4px;
    height: 84px;
    margin-left: -16px;
  }
}
