:root {
  scroll-behavior: smooth;
  font-family: 'Inter Tight', sans-serif;
}

body {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #141414;
}

img {
  height: auto;
  width: 100%;
}
.btn {
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  background: #7a3145;
  border-radius: 30px;
  padding: 16px 32px;
  min-width: 157px;
  height: 52px;
  border: none;
}
