.hero {
  background: #576f35;
  height: auto;
  background-image: url(../img/hero.img/imagemob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: bottom;
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/hero.img/imagemob@2x.jpg);
    background-size: 375px;
  }
}
.hero-container {
  padding-top: 100px;
  padding-bottom: 412px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-title {
  font-weight: 600;
  font-size: 52px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}
.hero-text {
  line-height: 1.43;
  color: #fbfbfb;
}
@media only screen and (max-width: 767px) {
  .hero-title {
    font-size: clamp(46px, 2.5vw, 52px);
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: url(../img/hero.img/imagetab.jpg);
  }
  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: url(../img/hero.img/imagetab@2x.jpg);
    }
  }
  .hero-container {
    padding-top: 120px;
    padding-bottom: 588px;

    gap: 24px;
  }
  .hero-title {
    font-size: 76px;
  }
  .hero-text {
    max-width: 603px;
    line-height: 1.25;
  }
}

@media only screen and (min-width: 1280px) {
  .hero {
    margin: 0 auto;
    width: 100%;
    background-image: url(../img/hero.img/Imagedes.jpg);
    background-position: calc(50% + 320px) top;
  }
  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: url(../img/hero.img/Imagedes@2x.jpg);
    }
  }
  .hero-container {
    gap: 128px;
    padding-top: 232px;
    padding-bottom: 52px;
  }
  .hero-title {
    max-width: 530px;
  }
  .hero-text {
    max-width: 472px;
  }
}
