.vegetables {
  background: #7a3145;
}
.vegetables-container {
}
.container {
}
.vegetables-title {
  font-weight: 600;
  font-size: 48px;

  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  padding-bottom: 20px;
}
.vegetables-accent {
  color: #d4bfc4;
}
.vegetables-text {
  line-height: 1.42;
  color: #fbfbfb;
  padding-bottom: 40px;
}
.vegetables-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.vegetables-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 40px;
  padding: 32px 24px;
  max-width: 335px;
  min-height: 376px;
  background: #fbfbfb;
}
.vegetables-subtitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7a3145;
}
.vegetables-price {
  line-height: 1.43;
  color: #141414;
}
.vegetables-img {
}
@media only screen and (min-width: 768px) {
  .vegetables-title {
    width: 508px;
    font-size: 64px;
    line-height: 1;
    letter-spacing: -0.01em;
    padding-bottom: 24px;
  }

  .vegetables-text {
    line-height: 1.25;
    font-size: 16px;
    color: #fbfbfb;
    padding-bottom: 52px;
    width: 626px;
  }
  .vegetables-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 28px 24px;
  }
  .vegetables-item {
    padding: 32px 30px;
    width: calc((100% - 24px) / 2);
  }
  .vegetables-subtitle {
    font-size: 32px;
  }
  .vegetables-price {
    line-height: 1.25;
  }
}

@media only screen and (min-width: 1280px) {
  .vegetables-item {
    padding: 32px 32px;
    width: calc((100% - 2 * 24px) / 3);
  }
}
